.tabContainer {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.tabMenu {
    width: 100px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.active {
    width: 100px;
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: orange;
    cursor: pointer;
}

.inactive {
    width: 100px;
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}

.active:hover, .inactive:hover {
    background-color: pink;
}

.user__display {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


