.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #F9FAFB;
}

.inner__container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: stretch;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1.00557px 3.01672px rgba(16, 24, 40, 0.1), 0px 1.00557px 2.01115px rgba(16, 24, 40, 0.06);
  border-radius: 8.0446px;
}

.inner__container .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add__button {
  background-color: purple;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

#employee {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;
    
  }

  th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }

  #employee tr:nth-child(even) {
    background-color: #f2f2f2;
    /* border-radius: 8px; */
  }

  tr:hover {
    background-color: #ddd;
    transform: scale(1.015);
    border-radius: 8px;
  }

  #employee th {
    padding: 10px;
    text-align: left;
    color: black;
    border: 1px solid #f2f2f2;
    
  }