.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #F9FAFB;
}

.inner__container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: stretch;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1.00557px 3.01672px rgba(16, 24, 40, 0.1), 0px 1.00557px 2.01115px rgba(16, 24, 40, 0.06);
  border-radius: 8.0446px;
}

.inner__container .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add__button {
  background-color: #34D07F;
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.header > h1 {
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24.2011px;
line-height: 31px;
color: #101828;
}

#employee {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    border: none;
  }

  td,th {
    padding: 4px;
    
  }

  .list{
    height: 59px;
    background: #FFFFFF;
  }

  .list > td {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13.8631px;
    line-height: 19px;
    color: #020202;
  }

  .list:hover {
    transform: scale(1.015);
    transition: transform 0.3s;
    box-shadow: 1.01501px 17.2552px 44.6606px rgba(3, 2, 41, 0.07);
    border-radius: 10.1501px;
    border-bottom: 1px solid #f2f2f2;
  }

  #employee th {
    padding: 8px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.4715px;
    line-height: 17px;
    color: #030229;
  }


  .employee__status {
    color: #34D07F;
    opacity: 1;
    text-align: center;
  }